.share-button {
  border: none;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #eee;
  color: #222;
  transition: 0.3s;
  font-size: 14px;
}

.share-button:hover {
  background-color: #ccc;
}
